@font-face {
    font-family: 'Verstyle';
    src: local('verstylebold.otf') 
         url('verstylebold.otf') format('opentype');
}

html {

}

body {
    font-family: 'Verstyle';
    background-color: rgb(226, 200, 173);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("PICTURES/BACKGROUNDS/bois.svg");
    background-size: cover;
    background-position: center center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content : space-between;
    height:auto;
}

#menuicon {
    width:7%;
    height:7%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(185, 64, 64);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top:-10px;
    font-size: 50px;
    margin-left: 50px;
}

#sidenavlink, #sidenavlinkchosen {
    text-align: center;
    border: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-color: white;
}

#sidenavlinktop {
    text-align: center;
    border: solid;
    border-left: 0px;
    border-right: 0px;
    border-top-color: white;
    border-bottom-color: white;
}

#sidenavlinkchosen {
    background-color: rgb(228, 17, 69);
}

#pfp {
    width: 56%;
    margin-left: 50px;
    margin-right:50px;
    margin-top: 90%;
    margin-bottom: 10%;
}

#deconnexion {
    width: 15%;
    margin-left: 41%;
    margin-right:41%;
}

#language {
    font-size:25px;
}

#languagetext {
    margin: 0;
}

.title {
    text-align: center;
    font-size:50px;
}

.vitrine {
    border: solid;
    border-color: black;
    text-align: center;
    width: auto;
    margin: auto;
    height: auto;
    padding: 20px;
    /*display: flex;*/
    flex-direction: row;
    justify-content: center;
    align-content:center;
}

#placeholder {
    width:31%;
    margin:1%;
    height:auto;
}

#overlayceramique, #overlaypeinture, #overlaybois, #overlayserigraphie, #overlayson, #overlayphoto, #overlaytextile, #overlayimpression3D, #overlaydeveloppeur, #overlayexplorateur {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlaysocialiseur, #overlayquotidien, #overlaycurieux, #overlayapprenti, #overlayapprenant{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlaytext {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.footer {
    margin-top:10%;
    text-align: right;
    margin-right:2%;
}

#smallerlogo {
    width:8%;
}

/*@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}*/
